extends ./layout/index

block contenido
    block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg" alt="Imagen sobre Nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dicta laboriosam 
                deserunt illo delectus libero, corrupti quod reprehenderit a nam ea accusantium quasi 
                facere earum unde laborum fugit ut numquam aperiam dignissimos esse ipsa! Alias 

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dicta laboriosam 
                deserunt illo delectus libero, corrupti quod reprehenderit a nam ea accusantium quasi 
                facere earum unde laborum fugit ut numquam aperiam dignissimos esse ipsa! Alias 

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dicta laboriosam 
                deserunt illo delectus libero, corrupti quod reprehenderit a nam ea accusantium quasi 
                facere earum unde laborum fugit ut numquam aperiam dignissimos esse ipsa! Alias 
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p illo delectus libero, corrupti quod reprehenderit a nam ea accusantium quasi 
                    facere earum unde laborum fugit ut numquam aperiam dignissimos esse ipsa! Alias 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p illo delectus libero, corrupti quod reprehenderit a nam ea accusantium quasi 
                    facere earum unde laborum fugit ut numquam aperiam dignissimos esse ipsa! Alias
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p illo delectus libero, corrupti quod reprehenderit a nam ea accusantium quasi 
                    facere earum unde laborum fugit ut numquam aperiam dignissimos esse ipsa! Alias


